﻿@model Trombino.Models.ApplicationUser


@{
    ViewBag.Title = "Edit";
}


<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>ApplicationUser</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>
        @{
            int i = 0;
        }

        @foreach (var item in Model.MetadataLinks)
        {
            if ((int)item.Metadata.Type == 2)
            {
                
                       
                            @Html.HiddenFor(user => user.MetadataLinks[i].Id)
                            @Html.HiddenFor(user => user.MetadataLinks[i].UserId)
                            @Html.HiddenFor(user => user.MetadataLinks[i].MetadataId)
                            @Html.HiddenFor(user => user.UserName)

            }
            else
            {
                <div class="form-group">
                    @Html.Label(item.Metadata.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(user => user.MetadataLinks[i].Value, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.HiddenFor(user => user.MetadataLinks[i].Id)
                        @Html.HiddenFor(user => user.MetadataLinks[i].UserId)
                        @Html.HiddenFor(user => user.MetadataLinks[i].MetadataId)
                        @Html.HiddenFor(user => user.UserName)
                    </div>
                </div>
            }


            i++;
        }

        <div class="form-group">
            <div class="col-md-offsset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

